@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  font-family: Roboto Condensed;
}
  
  html {
    font-size: 16px;
  }

.nav-div{
    font-size:1em;
    text-decoration:none;
    position:fixed;
    margin-top:20px;
     z-index: 2; 
}
  
@media (max-width:600px){
  .nav-div{
    height:0px;
  }
}

  h1 {
    font-size: 1.5rem;
    font-weight:bold;
  }
  
  li {
    font-size: 1rem;
  }
  
  
@media (max-width: 600px) {
    html {
      font-size: 0.5em;
    }
}


.go-home{
  text-decoration: none;
  color:wheat;
  position:absolute;
  left:0;
  margin-left:10px;
  border:solid;
  padding:5px 15px;
  font-family: Arial;
  border-radius:10px;
  margin-top:10px;
}

.go-home:hover{
  text-decoration: none;
  color:cornflowerblue
}

.log-in-btn{
  border-radius:10px;
  background-color: white;
  padding:5px 15px;
  border:solid;
  opacity:70%;
}


.home-button {
    transition-duration: 0.4s;
    border-radius:1%;
    color:black;
    font-weight: 600;
    font-family: Roboto;
    font-size:20px;

  }

  @media(max-width: 600px){
    .home-button{
   transition-duration: 0.4s;
    border-radius:1%;
    color:black;
    font-weight: 600;
    font-family: Roboto;
    font-size:12px;
        
    }
  }
  
  .home-button:hover{
    color:#F08080;
    text-decoration:none;
  }

  .h1-title{
      
      text-align:center;
      margin-top:20px;
  }

  .h4-title{
      text-align:center;
      padding:30px;
  }

  .image-1{
      width:55%;
      margin-left:22.7%;
      margin-right: 22.7%;
      border-radius:10px;
      opacity:90%;
  }

  .Create-cocktail{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  @media(max-width:600px){
    .Create-cocktail{
      text-decoration: none;
      color:white;
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size:8px;
      position:absolute;
      top:0;
      left:0;
      right:0;
      
  
    }
  }

  .scale-in-hor-center {
    -webkit-animation: scale-in-hor-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-hor-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}


.Create-cocktail:hover{
  color:#F08080;
  text-decoration: none;
}


  .carousel-background{
    background: #F07A62;
    background: -webkit-linear-gradient(-45deg, #F07A62 0%, #F0EDE6 65%, #F09595 100%);
    background: linear-gradient(135deg, #F07A62 0%, #F0EDE6 65%, #F09595 100%);
      border-radius:20px;
      
  }

  .fade-in {
    -webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }


  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .h3-p-position{
      padding-top:20px;

  }

  .button-button5{
      border-radius:50%;
      height:50px;
      width:50px;
      color: #F08080;
      background-color: white;
      font-size:30px;
      
  }

  @media(max-width: 600px){
    .button-button5{
        border-radius:50%;
        height:25px;
        width:25px;
        color: #F08080;
        background-color: white;
        font-size:1em;
        
    }
}

.first-list{
text-decoration:none;
color:black;
font-size:20px;
}

@media(max-width: 600px){
  .first-list{
    text-decoration:none;
    color:black;
    font-size:12px;
      
  }
}

.first-list:hover{
  color:#F08080;
}

.first-list-1{
  text-decoration:underline;
  color:black;
  font-size:20px;
  }

  @media(max-width: 600px){
    .first-list-1{
      text-decoration:underline;
      color:black;
      font-size:12px;
        
    }
  }

.first-list-1:hover{
  color:#F08080;
}

.bethe-best{
  text-align: center;
  padding:20px;
}
.glass-div{

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right:1em;
}

.glass-class{
  height:10%;
  width:10%;
  
}

.glass-class-1{
  margin-left:10px;
  margin-bottom:5px;
  height:10%;
  width:10%
}

.glass-char{
  display:flex;
  justify-content: space-around;
  margin-left:1.2em;
}

.glass-link{
  text-decoration: none;
  color:black
  
}

@media(max-width:600px){
  .glass-link{
    margin-left:5px;
    font-size:10px;
  }
}

.glass-tools{
margin-left:20px;
}

@media(max-width:600px){

.glass-tools{
  margin-left:10px;
  font-size:10px;
  }
}

@media(max-width:600px){
  b{
    font-size:10px;
  }
}

.site-footer
{

  padding:25px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}


.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#F08080;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}


@media (max-width:600px)
{
  .site-footer
  {
    padding-bottom:0;
    font-size:10px;
  }
}


.google-class-1{

  color:black;
  padding:5px;
}


.google-class-2{
  border-radius:10px;
  border: solid 0.8px #F08080;
  padding:5px;
  margin-right: 10px;
}


.google-class-3{

  border: solid 0.8px;
  border-radius:10px;
}

.getcocktail-form{
  display:flex;
  justify-content: center;
  font-size:14px;
  padding:10px;

}


@media (max-width:600px){
  .getcocktail-form{
    font-size:10px;
    padding:10px;
    
  }
}

.pink-hr{
  background-color:#F08080; 
  height:10px;
  margin-bottom: 0px;
  margin-top:0px;
  }

  .signup-h1{
    color:#F08080; 
    font-weight:bold;
    text-align: center;
    padding:20px;
  }

  .background-imageSU{
    
    background: url('https://drive.google.com/uc?export=download&id=1szT4W07X5sLfb9SJ_XiQt5zA3f4oGlji')  no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    
  }


  .label-Name{
    padding:20px 60px;
    border-radius:12px;
    text-align: center;
    background-color:#E45252;
    opacity:96%;
    border:none;
    color:white;
    margin:2px 0px;
  
  }

  @media(max-width: 600px){
    .label-Name{
      padding:20px 60px;
      border-radius:12px;
      text-align: center;
      background-color:#E45252;
      opacity:96%;
      border:none;
      color:white;
      font-size:10px;
    }
  }

  .label-Name-Big{
   
    padding:20px 60px;
    border-radius:12px;
    text-align: center;
    background-color:#E45252;
    opacity:96%;
    border:none;
    color:white;
    opacity:90%;
    height:100px;
    margin:2px 0px;
  }

  @media(max-width: 600px){
    .label-Name-Big{
      padding:20px 60px;
      border-radius:12px;
      text-align: center;
      background-color:#E45252;
      opacity:96%;
      border:none;
      color:white;
      opacity:80%;
      height:40px;
      font-size:10px;
    }
  }

  ::placeholder{
    color:white;
  }

  .log-in-submit-button{
    display:flex;
    justify-content: center;

  }

  .background-imageLI{
    background: url('https://drive.google.com/uc?export=download&id=1r98u9WhV1t7ugbSqWQuQ5QtB4GYLSV-m') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    
  }

  @media(max-width:300px){
    .background-imageLI{
      background: url('https://drive.google.com/uc?export=download&id=1r98u9WhV1t7ugbSqWQuQ5QtB4GYLSV-m')no-repeat center center;
      background-size: cover;
      box-sizing: border-box;
      height: 100vh;
    }
  }

  @media(max-width:600px){
    .background-imageLI{
      background: url('https://drive.google.com/uc?export=download&id=1r98u9WhV1t7ugbSqWQuQ5QtB4GYLSV-m')no-repeat center center;
      background-size: cover;
      box-sizing: border-box;
      height: 100vh;
    }
  }


  .back-color {
  background-color: black;
  }


  .ready-to-drink{
    color:whitesmoke;
    margin-left:30px;
    margin-top:10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align:center
  
  }

    .background-imageCC{
        background: url('https://drive.google.com/uc?export=download&id=1j-HfwXhc4mKRzSHLv4UUPh7BVZwJNW3v')  no-repeat center center;
        background-size: cover;
        box-sizing: border-box;
        height: 100vh;
    }

  
    .ready-to-drink{
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -ms-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
    }

    @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffff66, 0 0 40px #ffff66, 0 0 50px #ffff66, 0 0 60px #ffff66, 0 0 70px #ffff66;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #F08080, 0 0 40px #F08080, 0 0 50px #F08080, 0 0 60px #F08080, 0 0 70px #F08080 0 0 80px #F08080,
      }
    }

    #cocktail-list{
      display:inline-block;
      color:black;
      width:80%;
      text-align:center;
      background: #FFFFFF;
      background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #FFFEAF 65%, #F7FD34 100%);
      background: linear-gradient(135deg, #FFFFFF 0%, #FFFEAF 65%, #F7FD34 100%);
      border-radius:10px;
    }

    #cocktail-button{

        border-radius: 10px;
        font-weight: bold;
        font-family: Roboto Condensed;
        opacity:80%;
        height:30px;
        font-size:20px;
        border:none;
        background: #FFFFFF;
        background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #FFFEAF 65%, #F7FD34 100%);
        background: linear-gradient(135deg, #FFFFFF 0%, #FFFEAF 65%, #F7FD34 100%);
    }
    
    @media(max-width:600px){
      #cocktail-button{
        border-radius: 10px;
        font-weight: bold;
        font-family: Roboto Condensed;
        opacity:80%;
        height:20px;
        font-size:10px;
        border:none;
        background: #FFFFFF;
        background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #FFFEAF 65%, #F7FD34 100%);
        background: linear-gradient(135deg, #FFFFFF 0%, #FFFEAF 65%, #F7FD34 100%);
      }
    }

    #cocktail-button:hover{
      color:darkblue
    }

    div{
      text-align:center;
      border-radius:10px;
      font-size:14px;
    }

    @media(max-width:600px){
    div{
      text-align:center;
      border-radius:10px;
      font-size:10px;
      }  
    }
    
   
    img{
      width:350px;
      border-radius:50%;
      margin-left:30px;
      margin-bottom:10px;
      margin-top: 10px;
    }

    @media(max-width:600px){
      img{
        width:200px;
        border-radius:50%;
        margin-left:10px;
      }
    }

    @media(max-width:300px){
      img{
        width:100px;
        border-radius:50%;
        margin-left:5px;
      }
    }

    .remove-button{
      text-decoration:none;
      position:absolute;
      right:0;
      bottom:0;
      margin-left:70px;
      border-radius:50%;
      position:fixed;
      padding:10px;
      width:85px;
      background-color:black;
      color:wheat;
      margin-right:10px;
      margin-bottom:10px;
      
    }

    @media(max-width:768px){
      .remove-button{
      text-decoration:none;
      position:absolute;
      right:0;
      bottom:0;
      margin-left:15px;
      border-radius:50%;
      position:fixed;
      padding:10px;
      width:85px;
      background-color:black;
      color:wheat
      }
    }


    
    @media(max-width:500px){
      .remove-button{
      text-decoration:none;
      position:absolute;
      margin-left:15px;
      border-radius:50%;
      position:fixed;
      padding:10px;
      width:65px;
      background-color:black;
      color:wheat
      }
    }

    .remove-button:hover{
      color:#ffff66;
      
    }

    .Logged-Succ{
      padding:10px;
      font-size:85px;  
      color:white;
    }

    @media(max-width:600px){
      .Logged-Succ{
        padding:20px;
        font-size:30px;
        color:black;
      }
    }
  
      .log-in-btn-succ{
        color:none;
        border: 2px solid ;
        opacity: 96%;
        height:100px;
        width:300px;
        border-radius:10px;
        background: linear-gradient(135deg, #F07A62 0%, #F0EDE6 65%, #F09595 100%);
        background: linear-gradient(35deg, #F07A62 0%, #F0EDE6 65%, #F09595 100%));
        padding:25px 60px;
        text-align: center;
        font-size:28px;
      }

      @media(max-width:600px){
        .log-in-btn-succ{
        color:black;
        border: 2px solid greenyellow;
        opacity: 96%;
        height:10px;
        width:30px;
        border-radius:10px;
        background: #58CE15;
        background: -webkit-linear-gradient(left, #58CE15 0%, #EEF4F1 50%, #7BFF06 100%);
        background: linear-gradient(to right, #58CE15 0%, #EEF4F1 50%, #7BFF06 100%);
        padding:25px 60px;
        text-align: center;
        font-size:12px;
        }
      }

      .log-in-btn-succ:hover{
        text-decoration: none;
        color: linear-gradient(135deg, #F07A62 0%, #F0EDE6 65%, #F09595 100%);
      }
      @media(max-width:600px){
        .log-in-btn-succ{
        color:black;
        border: 2px solid greenyellow;
        opacity: 96%;
        height:10px;
        width:15px;
        border-radius:10px;
        background: #58CE15;
        background: -webkit-linear-gradient(left, #58CE15 0%, #EEF4F1 50%, #7BFF06 100%);
        background: linear-gradient(to right, #58CE15 0%, #EEF4F1 50%, #7BFF06 100%);
        padding:6px 15px;
        text-align: center;
        font-size:14px;
        }

      }


      .SignUp-succ-hr{
        background-color:#F08080; 
        height:10px;
        margin-bottom: 0px;
        margin-top:0px;
      }

        @media(max-width:600px){
          .SignUp-succ-hr{
            background: -webkit-linear-gradient(left, #58CE15 0%, #EEF4F1 50%, #7BFF06 100%);
            height:10px;
            margin-bottom: 0px;
            margin-top:0px;
          }
        }

        
        @media(max-width:360px){
          .SignUp-succ-hr{
            background: -webkit-linear-gradient(left, #58CE15 0%, #EEF4F1 50%, #7BFF06 100%); 
            height:10px;
            margin-bottom: 0px;
            margin-top:0px;
          }
        }



      .background-imageSLI{
        background: url('https://drive.google.com/uc?export=download&id=1C3CoNlTJKakZgtrh05Ld7zo1GO_rXwI_') no-repeat center center;
        background-size: cover;
        box-sizing: border-box;
        height: 100vh;
      }

      @media(max-width:600px){
        .background-imageSLI{
          background: url('https://drive.google.com/uc?export=download&id=1eyoF6xz2eAdZHPun9yetdY-3219vco9M') no-repeat center center;
          background-size: cover;
          box-sizing: border-box;
          height: 100vh;
        }
      }

      
      @media(max-width:360px){
        .background-imageSLI{
          background: url('https://drive.google.com/uc?export=download&id=1eyoF6xz2eAdZHPun9yetdY-3219vco9M') no-repeat center center;
          background-size: cover;
          box-sizing: border-box;
          height: 100vh;
        }
      }