@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
@import 'glass';
// $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

.carousel{
  background-color: $color-primary;
}
.image-1{
  height: 50%;
  width: 50%;
  margin: auto;
}

.button-button5{
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  font-size: 5em;
  color: $color-grey-dark-1;
}

.getcocktail-form{
  font-size: 2.2em;
  text-align: center;
  margin-bottom: .5em;
  color: $color-grey-dark-1;
}

.google-class-3{
  width: 3.5%;
  border-radius: 50%;
  color: $color-primary;
  background-color: transparent;
  border: none;
}

.google-class-2{
  height: 1em;
}

.nav-item > a,
.h4-title
{
  font-size: 2em;
  color: $color-grey-dark-1;
  text-align: center;
  &:hover{
    color: $color-grey-dark-2;
}
}

.Create-cocktail{
  color: white;
  font-size: 1.33em;
  
  &:hover{
    color: white;
}
}
.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.btn--inline {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  color: $color-primary;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  background-color: $color-grey-light-1;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
    margin: 0 0.2rem;
  }

  span {
    margin: 0 0.4rem;
  }

  &:hover {
    color: $color-grad-2;
    background-color: $color-grey-light-2;
  }

  &:focus {
    outline: none;
  }
}


.img-FC{
  height: 150px;
}

.no-nav{
  display: none !important ;
}

.logout{
  display: none;
}

.footer-links > li > a,
.text-justify{
  font-size: 1.5em;
  color: $color-grey-dark-1;
}
